.ubicacion {
  background-image: url(../media/mapamundi.png);
  background-position: bottom;
  width: 100%;
  height: auto;
  background-size: cover;
  padding: 60px 0px;
  z-index: -1;
}
.ubicacion h2 {
  margin: 10px;
  padding-left: 30px;
  color: whitesmoke;
}
.ubicacion .lugarContacto {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 10px;
  margin: 10px;
}
.ubicacion .lugarContacto .contacto {
  width: 400px;
  height: auto;
  color: aliceblue;
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0.219);
  border-radius: 3%;
  margin: 10px;
}
.ubicacion .lugarContacto .mapa iframe {
  width: 100%;
  height: 300px;
}

.lineasDeTrabajo {
  background: rgb(20, 18, 18);
  padding: 30px 10px;
  color: whitesmoke;
}
.lineasDeTrabajo .resenia {
  display: flex;
  justify-self: center;
  color: rgb(180, 235, 99);
}
.lineasDeTrabajo .resenia h4 {
  text-align: center;
  font-weight: 100;
  margin: 40px 20px;
}
.lineasDeTrabajo ul {
  margin: 10px;
  padding: 10px;
}
.lineasDeTrabajo ul li {
  padding: 5px 10px;
  width: 90%;
}

.conclusiones {
  padding: 30px 10px;
  background: url(../media/carrusel/recorte5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.conclusiones .comentario {
  font-family: "Hind", sans-serif;
  color: rgb(227, 252, 10);
  background: rgba(87, 85, 85, 0.589);
  text-align: center;
  width: 100%;
  font-weight: 300;
}

.acordeonLinea {
  background: rgb(109, 189, 107);
  padding: 10px;
  margin-bottom: 20px;
  color: rgb(22, 21, 21);
}

.areaLineas {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 5px;
}
.areaLineas .detallesLinea {
  width: 450px;
  flex-direction: column;
}
.areaLineas #carouselLineas {
  width: 500px;
  height: auto;
  background-size: cover;
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background: black;
  align-items: center;
  padding: 30px 5px;
}
footer .footer_dire {
  width: 500px;
  color: whitesmoke;
  padding-left: 10px;
}
footer .footer_dire li {
  padding: 0;
}
footer .footer_logo {
  width: 400px;
}
footer .footer_logo a img {
  width: 100%;
}
footer .footer_redes {
  display: inline-flex;
  width: 300px;
  justify-content: space-evenly;
}
footer .footer_redes img {
  width: 60px;
  padding: 5px;
  background-color: rgb(10, 185, 22);
  border-radius: 5%;
  filter: drop-shadow(0 0 2px rgb(55, 139, 114));
}

.portfolio {
  background: rgb(20, 18, 18);
  padding: 60px 2px;
}
.portfolio h2 {
  color: whitesmoke;
  text-align: center;
  position: absolute;
  position: sticky;
  top: 0px;
}
.portfolio .galeria {
  background: rgb(20, 18, 18);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.portfolio .galeria .fotos {
  width: 450px;
  height: auto;
  margin: 20px;
  color: rgb(225, 219, 219);
  flex-direction: column;
  display: flex;
  text-align: right;
  justify-content: center;
}
.portfolio .galeria .fotos img {
  scale: 0.8;
  opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: entry;
  transition: all 1.5s;
}
.portfolio .galeria .fotos img:hover {
  transform: scale(1.2, 1.2);
  z-index: 2;
}

.zoomInfinito {
  position: absolute;
  width: 100%;
  height: 70%;
  top: 0;
  object-fit: cover;
  z-index: -2;
}

@keyframes fade-in {
  to {
    scale: 1;
    opacity: 1;
  }
}
header {
  position: relative;
  width: 100% vh;
  height: 100%;
}
header .barraSup {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 2px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.219);
}
header .barraSup .marca {
  justify-content: center;
}
header .barraSup .marca a {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  text-decoration: none;
  align-items: center;
  padding: 5px;
  justify-content: center;
  margin: 0px 25px;
}
header .barraSup .marca a .logoHead {
  width: 70px;
}
header .barraSup .marca a .description {
  color: whitesmoke;
  width: 150px;
  font-family: "Hind", sans-serif;
  font-size: 1.2rem;
  margin: 0;
}
header .barraSup .siglas {
  color: whitesmoke;
  font-family: "Fira Sans", Times, serif;
  font-size: 2.5rem;
  margin: 2px;
  letter-spacing: 10px;
}
header .barraSup .logoConi {
  width: 230px;
  margin: 5px;
  border-radius: 2%;
}
header .videoP {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -2;
  opacity: 75%;
  filter: saturate(1.2);
}
header .historia {
  width: auto;
  margin-top: 10%;
}
header .historia .intro {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  align-items: center;
}
header .historia .intro .fraseintro {
  color: whitesmoke;
  text-align: center;
  font-family: "Hind", sans-serif;
  font-weight: 100;
}
header .historia .intro .logoConiUba {
  width: 60%;
  background-color: rgba(255, 248, 248, 0.068);
}
header .historia .intro h2 {
  font-family: "Fira Sans", sans-serif;
  color: rgba(252, 244, 244, 0.582);
  font-size: 2.5rem;
}
header .historia .logoExactas {
  width: 15%;
  margin: 20px;
}

.bgHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

.equipo {
  background: rgb(238, 236, 236);
  padding: 60px 2px;
}
.equipo h4 {
  color: grey;
  padding-left: 30px;
}
.equipo .autoridades {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.equipo .autoridades .cardIndividual {
  flex-direction: column;
  width: 300px;
  margin: 10px;
  color: black;
  font-family: "Fira Sans", sans-serif;
  text-align: center;
}
.equipo .autoridades .cardIndividual h5 {
  margin: 5px;
  color: rgb(85, 81, 81);
  font-family: "Fira Sans", sans-serif;
}
.equipo .autoridades .cardIndividual p {
  text-decoration: dotted;
  margin: 2px;
}
.equipo .autoridades .cardIndividual .fotoIntegrante {
  width: 200px;
  height: 200px;
  background-size: cover;
  border-radius: 50%;
  border: solid rgb(215, 224, 228) 7px;
  align-self: center;
  margin: 5px;
  transition: 1.2s;
}
.equipo .autoridades .cardIndividual .fotoIntegrante:hover {
  transform: scale(1.1);
}
.equipo .autoridades .cardIndividual .e-mail img {
  width: 40px;
}

.investigacion {
  background-color: rgb(20, 18, 18);
  padding: 40px 2px;
}
.investigacion h2 {
  color: whitesmoke;
  padding-left: 30px;
}
.investigacion .lineasInv {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 2px;
}
.investigacion .lineasInv a {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  text-decoration: none;
  align-items: center;
  padding: 5px;
  justify-content: center;
  margin: 10px;
}
.investigacion .lineasInv a .logoHead {
  width: 60px;
}
.investigacion .lineasInv a .description {
  color: whitesmoke;
  width: 230px;
  font-family: "Hind", sans-serif;
  font-size: 0, 6rem;
  margin: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(20, 18, 18);
}

.navbar {
  margin: 0;
  position: sticky top;
}
.navbar .navbar-collapse {
  font-size: 1.1rem;
}
.navbar .navbar-collapse .nav-link {
  margin: 0px 10px;
  transition: 500ms;
}
.navbar .navbar-collapse .nav-link:hover {
  transform: scale(1.05);
}
.navbar .navbar-collapse .nav-link:active {
  color: rgb(43, 133, 15);
}
.navbar .navbar-collapse ul .dropdown-menu.show {
  background: none;
  border: none;
}
.navbar .navbar-collapse ul .dropdown-menu.show li {
  margin: 3px;
  background-color: rgba(68, 66, 66, 0.973);
  font-size: 1rem;
}
.navbar .navbar-collapse ul .dropdown-menu.show li a {
  padding: 10px;
}
.navbar .navbar-collapse ul .dropdown-menu.show li a:hover {
  background-color: rgb(40, 125, 46);
  color: whitesmoke;
}

@media only screen and (max-width: 800px) {
  img .sup {
    width: 50px;
  }
  #top.description {
    width: 150px;
    font-size: 0.8rem;
  }
  .siglas {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 4px;
  }
  .logoConi {
    display: none;
  }
  div.fotos {
    align-items: center;
    width: 350px;
  }
  div.fotos img {
    width: 300px;
  }
}