* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hind", sans-serif;
  background: rgb(18, 17, 17);
}

header {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background: rgb(4, 4, 4);
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.logoHead {
  display: flex;
  justify-content: center;
}
.marca a {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  text-decoration: none;
  align-items: center;
  padding: 5px;
}
.logoHead {
  width: 100px;
}
.description {
  color: whitesmoke;
  width: 150px;
  font-family: "Hind", sans-serif;
  font-size: 1.2rem;
  margin: 0;
}
.siglas {
  color: whitesmoke;
  font-family: "Times New Roman", Times, serif;
  font-size: 3.5rem;
  margin: 2px;
  text-align: center;
  letter-spacing: 20px;
}

.logoConi {
  width: 230px;
  margin: 5px;
  border-radius: 2%;
}

.d-flex img {
  width: 40px;
  margin: 10px;
  &:hover {
    filter: drop-shadow(0 0 2px rgb(54, 167, 253));
  }
}

.navbar {
  background-color: rgba(3, 3, 7, 0.598);
  margin: 1px;
}
.navbar-collapse {
  font-size: 1.7rem;
}
.nav-link{
  margin: 2px 20px;
}

.investigacion {
  background-color: rgb(240, 240, 240);
}
.investigacion h2 {
  text-align: center;
  font-size: 3rem;
  margin: 10px;
}

.lineasInv {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin:20px;
  padding: 20px;
  &:hover {
    justify-self: center;
  }
}
.imgLineaInv img {
  width: 700px;
  height: 450px;
  opacity: 0.9;
}

.lineaInv {
  width: 600px;
  height: 350px;
  padding: 20px;
  overflow: auto;
  background-color: white;
  z-index: +1;
}
.imglineaInv img:hover {
  opacity: 1;
}
