.lineasDeTrabajo {
  background: $bg_oscuro;
  padding: 3%;
  color: whitesmoke;
  .resenia {
    display: flex;
    justify-self: center;
    color: rgb(180, 235, 99);
    padding: 3%;
    h4 {
      text-align: center;
      font-weight: 100;
      margin: 40px 20px;
    }
  }
  ul {
    margin: 10px;
    padding: 10px;
    li {
      padding: 5px 10px;
      width: 90%;
    }
  }
  .imgLineas{
    color: #5e5e5e;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .areaLineas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    .detallesLinea {
      width: 500px;
      flex-direction: column;
      border: solid grey 2px;
      border-radius: 1rem;
      padding: 1rem;
    }
  }
  .acordeonLinea {
    margin: 20px 10px;
    color: rgb(22, 21, 21);
    .accordion-item {
      border-radius: 2rem;
    }
  }
}

#carouselLineas {
  width: 480px;
  height: 500px;
  .carousel-item img {
    height: 490px;
    object-fit: cover;
    object-position: center;
  }
}

.conclusiones {
  padding: 30px 10px;
  background: url(../media/carrusel/recorte5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .comentario {
    font-family: $Ft_subtitulo;
    color: rgb(227, 252, 10);
    background: rgba(87, 85, 85, 0.589);
    text-align: center;
    width: 100%;
    font-weight: 300;
  }
}

.cursosMaterias {
  padding: 5%;
  background: whitesmoke;
  color: rgb(70, 67, 67);
}
