footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background: black;
  align-items: center;
  padding: 30px 5px;
  .footer_dire {
    width: 500px;
    color: whitesmoke;
    padding-left: 10px;
    li{
      padding: 0;
    }
  }
  .footer_logo {
    width: 400px;
    a img {
      width: 100%;
    }
  }
  .footer_redes {
    display: inline-flex;
    width: 300px;
    justify-content: space-evenly;
    img {
      width: 60px;
      padding: 5px;
      background-color: rgb(10, 185, 22);
      border-radius: 5%;
      filter: drop-shadow(0 0 2px rgb(55, 139, 114));
    }
  }
}
