footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background: black;
  align-items: center;
  padding: 30px 5px;
  .footer_dire {
    width: 500px;
    color: whitesmoke;
    li p a {
      text-decoration: none;
    }
  }
  .footer_logo a img {
    width: 400px;
  }
  .footer_redes {
    display: inline-flex;
    width: 300px;
    justify-content: space-evenly;
    img {
      width: 64px;
      padding: 5px;
      background-color:  rgb(10, 185, 22);
      border-radius:5%;
      filter: drop-shadow(0 0 2px rgb(55, 139, 114));
    }
  }
}
