header {
  position: relative;
  width: 100%vh;
  height: 100%;

  .barraSup {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
    z-index: 1;
    background: $bg_transparente;

    .marca {
      justify-content: center;
      a {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        text-decoration: none;
        align-items: center;
        padding: 5px;
        justify-content: center;
        margin: 0px 25px;
        .logoHead {
          width: 70px;
        }
        .description {
          color: whitesmoke;
          width: 150px;
          font-family: "Hind", sans-serif;
          font-size: 1.2rem;
          margin: 0;
        }
      }
    }
    .siglas {
      color: whitesmoke;
      font-family: $Ft_titulo;
      font-size: 2.5rem;  
      margin: 2px;
      letter-spacing: 10px;
    }
    .logoConi {
      width: 230px;
      margin: 5px;
      border-radius: 2%;
    }
  }
  .videoP {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -2;
    opacity: 75%;
    filter: saturate(1.2);
  }
  .historia {
    width: auto;
    margin-top: 10%;
    .intro {
      display: flex;
      flex-direction: column;
      width: 60%;
      margin: auto;
      align-items: center;
      .fraseintro {
        color: whitesmoke;
        text-align: center;
        font-family: "Hind", sans-serif;
        font-weight: 100;
      }
      .logoConiUba {
        width: 60%;
        background-color: rgba(255, 248, 248, 0.068);
      }
      h2 {
        font-family: "Fira Sans", sans-serif;
        color: rgba(252, 244, 244, 0.582);
        font-size: 2.5rem;
      }
    }
    .logoExactas{
     width: 15%;
     margin: 20px;
    }
  }
}

.bgHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}
