$bg_transparente: rgba(18, 17, 17, 0.499);
$bg_oscuro: rgb(29, 26, 26);
$bg_claro: rgb(238, 236, 236);
$Ft_titulo: "Times New Roman", Times, serif;
$Ft_subtitulo:  "Hind", sans-serif;
$Ft_parrafo: "calibri";
