@import "variables";
@import "bibliotecas";
@import "contacto";
@import "docencia";
@import "estiloLineas";
@import "footer";
@import "galeria";
@import "header";
@import "integrantes";
@import "lineasInv";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg_oscuro;
}

.navbar {
  background: $bg_transparente;
  margin: 0;
  position: sticky top;
  .navbar-collapse {
    font-size: 1rem;
    .nav-link {
      margin: 0px 10px;
      transition: 1s;
      &:hover {
        transform: scale(1.1);
      }
      &:active {
        color: rgb(43, 133, 15);
      }
    }
    ul .dropdown-menu.show {
      background: none;
      border: none;
      li {
        margin: 3px;
        background-color: rgba(68, 66, 66, 0.973);
        font-size: 1rem;
        a {
          padding: 10px;
          &:hover {
            background-color: rgb(40, 125, 46);
            color: whitesmoke;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .barrasup {
    .marca a .logoHead {
      width: 50px;
    }
    #top.description {
      width: 150px;
      font-size: 0.8rem;
    }
    .siglas {
      font-size: 2rem;
      text-align: center;
      letter-spacing: 8px;
    }
    .logoConi {
      display: none;
    }
  }
  .historia {
    display: none;
  }
  video {
    display: none;
  }
  div.fotos {
    align-items: center;
    width: 350px;
    img {
      width: 300px;
    }
  }
}
