@import "variables";
@import "bibliotecas";
@import "contacto";
@import "docencia";
@import "estiloLineas";
@import "footer";
@import "galeria";
@import "header";
@import "integrantes";
@import "lineasInv";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg_oscuro;
}

.navbar {
  margin: 0;
  position: sticky top;
  .navbar-collapse {
    font-size: 1.2rem;
    .nav-link {
      margin: 0px 10px;
      position: relative;
      
      &::after{
        content: '';
        position: absolute;
        right: 0;
        bottom: 0 ;
        left: 0;
        height: 1px;
        width: 95%;
        background-color: white;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.4s ease-in-out;
      }
      &:hover::after{
        transform-origin: left;
        transform: scaleX(1);
      }
      &:active {
        color: rgb(80, 194, 46);
      }
    }
    ul .dropdown-menu.show {
      background: none;
      border: none;
      li {
        margin: 3px;
        background-color: rgb(131, 124, 124);
        font-size: 1rem;
        a {
          padding: 10px;
          &:hover {
            background-color: rgba(40, 125, 46, 0.719);
            color: whitesmoke;
          }
        }
      }
    }
  }
}

.feedFace {
  background:$bg_oscuro;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
iframe {
  border-radius: 1rem;
}

@media only screen and (max-width: 800px) {
  #top {
    font-size: 0.8rem;
    width: 80px;
  }
  .historia .fraseintro{
    font-size: 1.5rem;
  }

  .logoConi {
    display: none;
  }

  div.fotos {
    align-items: center;
    width: 350px;
    img {
      width: 300px;
    }
  }
}
