* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hind", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  height: auto;
  background-size: cover;
  position: relative;
  padding: auto;
  .barraSup {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background: rgba(18, 17, 17, 0.499);
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    .marca {
      justify-content: center;
      a {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        text-decoration: none;
        align-items: center;
        padding: 5px;
        justify-content: center;
        margin: 0px 25px;
        .logoHead {
          width: 100px;
        }
        .description {
          color: whitesmoke;
          width: 150px;
          font-family: "Hind", sans-serif;
          font-size: 1.2rem;
          margin: 0;
        }
      }
    }
    .siglas {
      color: whitesmoke;
      font-family: "Times New Roman", Times, serif;
      font-size: 3.5rem;
      margin: 2px;
      text-align: justify;
      letter-spacing: 20px;
    }
    .logoConi {
      width: 230px;
      margin: 5px;
      border-radius: 2%;
    }
  }
}

.navbar {
  background: rgba(18, 17, 17, 0.499);
  margin: 0;
  position: sticky top;
  .navbar-collapse {
    font-size: 1.2rem;
    .nav-link {
      margin: 0px 20px;
      transition: 1s;
      &:hover {
        transform: scale(1.1);
        text-shadow: 0.2px yellow;
      }
    }
  }
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 900px;
  object-fit: cover;
  z-index: -1;
  margin-bottom: 3px;
}

.historia {
  padding: 40px 60px;
  color: rgb(128, 154, 178);
  height: 700px;
  .subtitulo {
    text-align: center;
    font-size: 3rem;
  }
  .intro {
    text-align: center;
  }
}

.investigacion {
  background-color: rgb(29, 26, 26);
  padding: 60px 10px;
  h2 {
    color: aliceblue;
    padding: 20px;
  }
  .lineasInv {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 2px;
    a {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        text-decoration: none;
        align-items: center;
        padding: 5px;
        justify-content: center;
        margin: 0px 25px;
        .logoHead {
          width: 80px;
        }
        .description {
          color: whitesmoke;
          width: 230px;
          font-family: "Hind", sans-serif;
          font-size: 1.2rem;
          margin: 0;
        }
    }
  }
}

.equipo {
  padding: 60px 0px;
  .Integrantes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .cardIndividual {
      flex-direction: column;
      width: 250px;
      margin: 20px;
      text-align: center;
      transition: 1.2s;
      .fotoIntegrante {
        width: 200px;
        height: 200px;
        background-size: cover;
        border-radius: 50%;
        border: solid rgb(215, 224, 228) 7px;
        align-self: center;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .grupo img {
    width: 100%;
  }
}

.ubicacion {
  background-image: url(../media/redes/mapamundi.jpg);
  width: 100%;
  height: auto;
  background-size: cover;
  padding: 60px 0px;
  .ubicacion h2 {
    margin: 10px;
    color: aliceblue;
  }
  .lugarContacto {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 10px;
    .contacto {
      width: 500px;
      height: auto;
      align-self: center;
      color: aliceblue;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.543);
      border-radius: 3%;
    }
    .mapa iframe {
      width: 500px;
      height: 500px;
    }
  }
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background: rgb(21, 19, 19);
  color: whitesmoke;
  padding: 30px;
  align-items: center;
  .logo {
    width: 150px;
  }
}

@media only screen and (max-width: 720px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
  .siglas {
    font-size: 2rem;
  }
  .lineasInv img {
    width: 80%;
  }
  .logoConi {
    display: none;
  }
}
